* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    border: 2px solid black;
    margin: 8px;
}

.cell {
    background-color: white;

    /* 1:1 ratio */
    width: auto;
    padding-top: 100%;
}