* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: lightpink;
}

#board {
    background-color: red;
    height: 100vh;
    width: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    border: 2px solid black;

    width: 50vw;    
}

.cell {
    background-color: white;

    /* 1:1 ratio */
    width: auto;
    padding-top: 100%;
}